<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hlp.activitytest">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.hlp.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!---->
        <activity android:name="com.example.hlp.activity.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.hlp.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.example.hlp.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.example.hlp.activity.ForgetPwdActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.example.hlp.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.example.hlp.activity.UserActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.example.hlp.activity.MapActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.example.hlp.activity.UserEndterActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.example.hlp.activity.YunWeiActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.example.hlp.activity.EditUserInfoActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.example.hlp.activity.DeviceManageActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.example.hlp.activity.OfficeManageActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.example.hlp.activity.MyMsgActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.example.hlp.activity.AboutUsActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.example.hlp.activity.WorkLogActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.example.hlp.activity.PartsApplyActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.example.hlp.activity.RepairApplyActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.example.hlp.activity.WorkApprovalActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.example.hlp.activity.TaskActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.example.hlp.activity.WorkReportActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.example.hlp.activity.DocumentActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.example.hlp.activity.ProjectActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.example.hlp.activity.AddWorkLogActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>

    </application>

</manifest>